In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
db="postgres:Alevaporo58@localhost:5432/project_2"
engine=create_engine(f'postgresql://{db}')

In [3]:
conn=engine.connect()

In [4]:
stats_2011=pd.read_sql('select * from year_2011',conn)
stats_2012=pd.read_sql('select * from year_2012',conn)
stats_2013=pd.read_sql('select * from year_2013',conn)
stats_2014=pd.read_sql('select * from year_2014',conn)
stats_2015=pd.read_sql('select * from year_2015',conn)
stats_2016=pd.read_sql('select * from year_2016',conn)
stats_2017=pd.read_sql('select * from year_2017',conn)

In [5]:
def filtered_table(table):
    table=table[['Median Household Income',
                 'Per Capita Income',
                 'Poverty Rate',
                 'Unemployment Rate',
                 'Median Cost of Rent',
                 'Black Poverty Rate',
                 'Hispanic Poverty Rate',
                 'White Poverty Rate']]
    
    table=pd.DataFrame(table)
    return(table)

In [6]:
table_2011=filtered_table(stats_2011)
table_2012=filtered_table(stats_2012)
table_2013=filtered_table(stats_2013)
table_2014=filtered_table(stats_2014)
table_2015=filtered_table(stats_2015)
table_2016=filtered_table(stats_2016)
table_2017=filtered_table(stats_2017)

In [8]:
def index_clean(table):
 
    table=table.drop(table.index[[8,51]])
    table=table.reset_index(drop=True)
    table=pd.DataFrame(table)
    return(table)

In [9]:
clean_table_2011=index_clean(table_2011)
clean_table_2012=index_clean(table_2012)
clean_table_2013=index_clean(table_2013)
clean_table_2014=index_clean(table_2014)
clean_table_2015=index_clean(table_2015)
clean_table_2016=index_clean(table_2016)
clean_table_2017=index_clean(table_2017)

In [13]:
def add_year(table,year):
    
    table['date']=year
    return(table)

In [14]:
new_table_2011=add_year(clean_table_2011,'2011')
new_table_2012=add_year(clean_table_2012,'2012')
new_table_2013=add_year(clean_table_2012,'2013')
new_table_2014=add_year(clean_table_2012,'2014')
new_table_2015=add_year(clean_table_2012,'2015')
new_table_2016=add_year(clean_table_2012,'2016')
new_table_2017=add_year(clean_table_2012,'2017')

In [16]:
states=pd.read_sql('select state,leg_control from data_2011',conn)

In [17]:
graph_data_2011=pd.concat([states,clean_table_2011],axis=1)
graph_data_2012=pd.concat([states,clean_table_2012],axis=1)
graph_data_2013=pd.concat([states,clean_table_2013],axis=1)
graph_data_2014=pd.concat([states,clean_table_2014],axis=1)
graph_data_2015=pd.concat([states,clean_table_2015],axis=1)
graph_data_2016=pd.concat([states,clean_table_2016],axis=1)
graph_data_2017=pd.concat([states,clean_table_2017],axis=1)

In [38]:
def groupby(table):
    table=table.groupby(table['leg_control']).mean()
    return(table)

In [39]:
final_2011=groupby(graph_data_2011)
final_2012=groupby(graph_data_2012)
final_2013=groupby(graph_data_2013)
final_2014=groupby(graph_data_2014)
final_2015=groupby(graph_data_2015)
final_2016=groupby(graph_data_2016)
final_2017=groupby(graph_data_2017)

In [44]:
final_2011['date']='2011'
final_2012['date']='2012'
final_2013['date']='2013'
final_2014['date']='2014'
final_2015['date']='2015'
final_2016['date']='2016'
final_2017['date']='2017'

In [45]:
complete_data=pd.concat([final_2011,final_2012,final_2013,final_2014,final_2015,final_2016,final_2017],axis=0)
complete_data=complete_data.sort_values(['leg_control','date'],ascending=True)

In [69]:
complete_data

,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date
leg_control,,,,,,,,,
Dem,56897.0000,29127.9375,12.980509,4.279980,933.8750,22.263483,21.933200,10.548607,2011
Dem,57193.9375,29295.5625,13.475726,4.593508,952.6250,22.930985,22.511976,11.010529,2012
Dem,57208.7500,29427.3125,13.907493,4.815706,966.8750,23.298782,23.218493,11.389796,2013
Dem,57605.2500,29775.1250,14.178430,4.603274,982.3750,23.363215,23.334823,11.642098,2014
Dem,57977.5625,30062.3125,14.116415,4.185336,989.8750,23.111213,23.147920,11.612282,2015
Dem,59379.1250,30915.5625,13.871959,3.778749,1010.6250,22.533384,22.342713,11.466607,2016
Dem,59424.1875,31232.8750,13.352193,3.082840,954.4375,24.385946,22.441400,10.988241,2017
Rep,49724.6800,25906.3600,13.723923,3.968028,743.8400,27.432777,25.204359,11.265149,2011
Rep,50031.8800,26104.4000,14.244914,4.199360,761.1600,28.189178,26.230420,11.760010,2012
Rep,50244.6800,26253.7200,14.672787,4.339754,776.4400,28.376098,26.897761,12.123411,2013
Rep,50841.8400,26712.5200,14.827418,4.052064,790.8400,28.039904,26.844767,12.267200,2014
Rep,51372.5600,27120.5600,14.660998,3.619965,798.6800,27.719906,26.074711,12.141972,2015
Rep,52721.6800,27950.5600,14.297983,3.224938,817.7600,26.876026,24.925039,11.854173,2016
Rep,57268.4400,30330.0400,14.545604,3.216248,931.8800,24.585284,22.672657,12.070670,2017
Split,54198.3750,28394.1250,13.410936,4.012542,848.0000,24.502666,21.604538,10.785460,2011
Split,54741.0000,28715.8750,13.794952,4.227399,876.2500,25.291312,22.065023,11.145872,2012
Split,55135.6250,28921.8750,14.137539,4.403212,898.1250,25.617017,22.264287,11.417423,2013
Split,55790.7500,29362.5000,14.360490,4.185096,920.1250,26.306869,22.276665,11.561293,2014
Split,56330.1250,29712.0000,14.320798,3.832201,932.8750,25.865122,22.061971,11.564618,2015
Split,57769.6250,30576.3750,14.080784,3.481613,958.7500,25.266100,21.559498,11.382059,2016
Split,52766.0000,28162.7500,15.423465,3.069252,865.1250,24.801212,23.606075,13.401104,2017

In [62]:
dem_data.head()

,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date
leg_control,,,,,,,,,
Dem,56897.0000,29127.9375,12.980509,4.279980,933.875,22.263483,21.933200,10.548607,2011
Dem,57193.9375,29295.5625,13.475726,4.593508,952.625,22.930985,22.511976,11.010529,2012
Dem,57208.7500,29427.3125,13.907493,4.815706,966.875,23.298782,23.218493,11.389796,2013
Dem,57605.2500,29775.1250,14.178430,4.603274,982.375,23.363215,23.334823,11.642098,2014
Dem,57977.5625,30062.3125,14.116415,4.185336,989.875,23.111213,23.147920,11.612282,2015

In [63]:
rep_data.head()

,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date
leg_control,,,,,,,,,
Rep,49724.68,25906.36,13.723923,3.968028,743.84,27.432777,25.204359,11.265149,2011
Rep,50031.88,26104.40,14.244914,4.199360,761.16,28.189178,26.230420,11.760010,2012
Rep,50244.68,26253.72,14.672787,4.339754,776.44,28.376098,26.897761,12.123411,2013
Rep,50841.84,26712.52,14.827418,4.052064,790.84,28.039904,26.844767,12.267200,2014
Rep,51372.56,27120.56,14.660998,3.619965,798.68,27.719906,26.074711,12.141972,2015

In [64]:
split_data.head()

,Median Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,Median Cost of Rent,Black Poverty Rate,Hispanic Poverty Rate,White Poverty Rate,date
leg_control,,,,,,,,,
Split,54198.375,28394.125,13.410936,4.012542,848.000,24.502666,21.604538,10.785460,2011
Split,54741.000,28715.875,13.794952,4.227399,876.250,25.291312,22.065023,11.145872,2012
Split,55135.625,28921.875,14.137539,4.403212,898.125,25.617017,22.264287,11.417423,2013
Split,55790.750,29362.500,14.360490,4.185096,920.125,26.306869,22.276665,11.561293,2014
Split,56330.125,29712.000,14.320798,3.832201,932.875,25.865122,22.061971,11.564618,2015

In [60]:
##Code pushes to postgres(dont rerun)



################################

#def to_sql(table,table_name):
#   table.to_sql(name=table_name,con=engine, if_exists='append', index=False)

# to_sql(graph_data_2011,'graph_data_2011')
# to_sql(graph_data_2012,'graph_data_2012')
# to_sql(graph_data_2013,'graph_data_2013')
# to_sql(graph_data_2014,'graph_data_2014')
# to_sql(graph_data_2015,'graph_data_2015')
# to_sql(graph_data_2016,'graph_data_2016')
# to_sql(graph_data_2017,'graph_data_2017')

#################################



#################################

# complete_data.to_sql(name='complete_data',con=engine, if_exists='append', index=True)
# dem_data.to_sql(name='democratic_data',con=engine, if_exists='append', index=True)
# rep_data.to_sql(name='republican_data',con=engine, if_exists='append', index=True)
# split_data.to_sql(name='split_data',con=engine, if_exists='append', index=True)

#################################